#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10
#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;      // 500
            delay-ms = <0>;                   // 10
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        label = "RGB_ENCODER";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |                ↑    |  Y  |  U   |  I  |  O  |  P  | BKSP |      &kp UP_ARROW 
            // | SHIFT |  A  |  S  |  D  |  F  |  G  |               ↓    |  H  |  J   |  K  |  L  |  ;  |  '   | 
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |                ←    |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |                →    | ENT | RSE  | ALT |
            //                                                      enter

            bindings = <
&kp LC(X)      &kp Q  &kp W     &kp E      &kp R      &kp T    &kp UP_ARROW     &kp Y          &kp U      &kp I      &kp O    &kp P      &kp DOUBLE_QUOTES
&kp LC(Z)      &kp A  &kp S     &kp D      &kp F      &kp G    &kp DOWN_ARROW   &kp H          &kp J      &kp K      &kp L    &kp COLON  &kp QUESTION
&kp PAGE_DOWN  &kp Z  &kp X     &kp C      &kp V      &kp B    &kp LEFT_ARROW   &kp N          &kp M      &kp COMMA  &kp DOT  &kp CARET  &kp EXCLAMATION
                      &mkp MB1  &kp LC(C)  &kp LC(V)  &mo 1    &kp RIGHT_ARROW  &kp BACKSPACE  &kp SPACE  &kp ENTER
                                                               &kp LEFT_SHIFT
            >;

            label = "QWERTY";
            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        lower_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp PG_UP       &kp N1            &kp N2         &kp N3        &kp N4        &kp N5          &mmv MOVE_UP     &kp BACKSLASH      &kp UNDER        &kp LEFT_PARENTHESIS              &kp RIGHT_PARENTHESIS  &kp PERCENT      &kp AT_SIGN
&bt BT_CLR_ALL  &bt BT_SEL 4      &bt BT_SEL 3   &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0    &mmv MOVE_DOWN   &kp SQT            &kp TILDE        &kp LEFT_BRACKET                  &kp RIGHT_BRACKET      &bl BL_DEC       &bl BL_TOG
&kp LESS_THAN   &kp GREATER_THAN  &kp SEMICOLON  &trans        &trans        &trans          &mmv MOVE_LEFT   &rgb_ug RGB_HUD    &rgb_ug RGB_SAI  &rgb_ug RGB_COLOR_HSB(111,24,62)  &rgb_ug RGB_BRD        &rgb_ug RGB_BRI  &rgb_ug RGB_TOG
                                  &trans         &trans        &soft_off     &trans          &mmv MOVE_RIGHT  &ext_power EP_OFF  &mkp RCLK        &kp PIPE
                                                                                             &mkp LCLK
            >;

            label = "NUMBER";
            sensor-bindings = <&inc_dec_kp C_AC_SCROLL_UP K_SCROLL_DOWN>;
        };
    };
};
